body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    
}
h1 {
    color : red;
    size: 12pt; 
}
table {
    width:460px;
    height:460px;
    margin:auto;
    padding:10px;
    background-color:#FFF;
    box-sizing:border-box;
    border-radius:6px;
} 
td {
    border: 1px solid black;
    width: 10%;
}